.btn-blue {
	 background-color: #e6b31e;
	 padding: 15px 20px;
	 border-radius: 10px;
	 color: white;
	 font-weight: bold;
	 font-family: 'Roboto', sans-serif;
	 text-decoration: none;
	 box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.btn-blue:hover {
	background-color: #343434;
	color: white;
}

